@font-face {
  font-family: SpaceGrotesk-Regular;
  src: url(../src/theme/fonts/SpaceGrotesk-Regular.ttf);
}
  
@font-face {
  font-family: SpaceGrotesk-Medium;
  src: url(../src/theme/fonts/SpaceGrotesk-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-regular);
}
